<b><font size = 45>LEMBAR KERJA KELOMPOK 1 - DATA AKUISISI DAN PEMAHAMAN DATA </font></b>

Kelompok: 

Nama anggota:

1. Fajar Buana Hidayat <br>
2. Adnan Al-farizi Rahmat <br>
3. Ichsan Kamil <br>
4. Syarafina Dewi
5. Muhammad ihsas Alvi Ibrahim

# Data Akuisisi dan Pemahaman Bisnis

Silakan memilih satu sumber data yang menarik untuk dipelajari. Pastikan data yang dipilih memang memiliki kecukupan informasi yang bisa dimanfaatkan (jangan hanya 1 informasi yang bisa diolah dari data tersebut). Sumber data wajib dari https://kaggle.com. Sertakan url tempat untuk mengunduh data yang dipilih pada textbox berikut:

https://www.kaggle.com/datasets/shantanudhakadd/email-spam-detection-dataset-classification

Jelaskan kenapa tim memilih data tersebut untuk dipelajari?

Kita mungkin memilih data Email Spam karena ada beberapa alasan yang membuat data tersebut menarik dan relevan untuk dipelajari:

1. Kita memilih data Email Spam untuk dipelajari karena masalah klasifikasi email spam adalah salah satu tugas penting dalam bidang pengolahan bahasa alami (Natural Language Processing) dan machine learning. Data ini memiliki karakteristik menarik dan relevan untuk dipelajari

2. Terkadang kita sebal ketika sering mendapatkan Email Spam

Kalau data ini akan digunakan untuk menghasilkan keuntungan atau untuk kepentingan yang baik, keuntungan atau kepentingan seperti apa yang bisa didapat atau disolusikan dengan data yang dipilih?

1. Meningkatkan Efisiensi Komunikasi: Dengan membangun sistem klasifikasi email spam yang efektif, pengguna dapat menghemat waktu dan sumber daya dengan menghindari pembacaan dan penanganan manual terhadap email spam. Efisiensi komunikasi meningkat ketika kotak masuk pengguna lebih bersih dari email spam.

2. Meningkatkan Keamanan Informasi: Email spam sering kali berisi upaya phishing dan penipuan yang dapat membahayakan keamanan informasi pengguna. Dengan mengidentifikasi dan memfilter email spam, risiko pengguna jatuh ke dalam penipuan atau membuka lampiran berbahaya dapat dikurangi.

3. Meningkatkan Produktivitas: Pengguna akan lebih fokus pada email yang relevan dan penting bagi mereka, yang dapat meningkatkan produktivitas dalam bekerja dan berkomunikasi melalui email.

4. Peningkatan Pengalaman Pengguna: Dengan menyaring email spam, pengguna akan mengalami pengalaman pengguna yang lebih positif dan kurang terganggu oleh konten yang tidak relevan atau tidak diinginkan.

5. Penghematan Sumber Daya: Dengan mengurangi waktu yang dihabiskan oleh pengguna untuk menghapus atau menangani email spam, organisasi dan perusahaan dapat menghemat sumber daya dalam hal tenaga kerja dan biaya operasional.

# Pemahaman Data

Jelaskan secara umum perihal data yang dipilih!


Secara umum, data yang dipilih untuk dipelajari adalah dataset Email Spam yang diambil dari kaggle. Dataset ini terdiri dari dua kolom:

Label: Kolom ini berisi label atau kategori yang mengidentifikasi apakah suatu email termasuk dalam kelas spam atau non-spam (ham). Biasanya, label ini direpresentasikan sebagai angka biner, di mana nilai 1 menunjukkan email spam, dan nilai 0 menunjukkan email non-spam.

Isi Email: Kolom ini berisi teks atau konten dari email itu sendiri. Teks ini merupakan fitur yang digunakan untuk melakukan klasifikasi, yaitu menentukan apakah email tersebut termasuk ke dalam kelas spam atau non-spam berdasarkan informasi yang terdapat di dalamnya.

Sebutkan periode data tersebut!

Data Email spam ini dikumpulkan per tahun 2022

Ada berapa atribut pada data? (gunakan sintaks python untuk menjawab)

In [19]:
import pandas as pd
import numpy as np

# cek atribut jumlah pada data
data = pd.read_csv('spam.csv', encoding='latin-1')

print(data.columns.values)

['v1' 'v2' 'Unnamed: 2' 'Unnamed: 3' 'Unnamed: 4']

Ada berapa baris data yang ada pada data? (gunakan sintaks python untuk menjawab)

In [20]:
# cek jumlah baris pada data
print(len(data), "Baris")

5572 Baris

Jelaskan atribut yang dimiliki oleh data yang dipilih! Penjelasan disampaikan dalam bentuk tabel dengan isi tabel sebagai berikut: 
    
1. Nama Atribut
2. Deskripsi Atribut
3. Tipe Data Atribut (lihat gambar berikut untuk menentukan tipe data)

<img src = "https://www.qualitydigest.com/IQedit/Images/Articles_and_Columns/2020/06_June-2020/Data/working3_clip_image002_0000.png" alt = "Jenis-Jenis Data">

Apakah ada baris data yang berisi null (NaN)? Buktikan menggunakan sintaks python!

In [21]:
import pandas as pd

# Path: Lembar Kerja Kelompok 1 - Latihan Akuisisi dan pemahaman data.ipynb
df = pd.read_csv('spam.csv', encoding='latin-1')

df.head(5)

# Periksa apakah ada baris dengan nilai null (NaN)
isNullRows = df[df.isnull().any(axis=1)]
sumIsNullRows = len(isNullRows)
if not isNullRows.empty:
    print("Ada {} baris dengan nilai null (NaN).".format(sumIsNullRows))
    print(isNullRows)
else:
    print("Tidak ada baris dengan nilai null (NaN).")

Ada 5566 baris dengan nilai null (NaN).
        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5566 rows x 5 columns]

Munculkan 5 data pertama pada data yang dipilih!

In [22]:
# 5 data pertama
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

Munculkan 5 data terakhir pada data yang dipilih!

In [23]:
# 5 data Terakhir
df.tail(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will ÃŒ_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

Munculkan statistik deskriptif untuk data yang dipilih dengan sintaks python!

In [24]:
# Munculkan statistik deskriptif untuk data yang dipilih dengan sintaks python!

# Import library yang dibutuhkan
import pandas as pd
import numpy as np

# munculkan statistik deskriptif untuk data yang dipilih
print('Descriptive Statistics:\n', df.describe())

Descriptive Statistics:
           v1                      v2  \
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

                                               Unnamed: 2  \
count                                                  50
unique                                                 43
top      bt not his girlfrnd... G o o d n i g h t . . .@"
freq                                                    3

                   Unnamed: 3 Unnamed: 4
count                      12          6
unique                     10          5
top      MK17 92H. 450Ppw 16"    GNT:-)"
freq                        2          2

Jelaskan apa makna dari hasil telaah statistik deskriptif tersebut!

Lakukan telaah korelasi antar atribut yang ada pada data yang dipilih menggunakan sintaks python! Penjelasan bisa diperkaya dengan visualisasi korelasi.

In [25]:
# korelasi antar atribut yang ada pada data yang dipilih menggunakan sintaks python
# Penjelasan bisa diperkaya dengan visualisasi korelasi.

# Menghapus kolom yang tidak diperlukan
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)


# Renaming the columns to be understandable
tampilkanLabel = df.rename(columns={'v1':'label', 'v2':'email'}, inplace=True)
df.head()

  label                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
df['label'] = df['label'].map({'ham': 0, 'spam': 1})
df.head()

   label                                              email
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

Jelaskan apa makna dari hasil telaah korelasi tersebut!